*{
    box-sizing: border-box;
}

body{
    display: flex;
    line-height: 2;
    margin: 12px 0 12px 28px;
  font-family: "Century Light", "Palatino", serif;
  font-weight: bold;
  text-shadow: 0 0 2px linen;
    padding: 15px;
    margin: 5px;	
    background: lightgray;
    border-radius: 3px;
    border-color: darkred;
    text-align: center;
    flex-direction: column;
}

#newHome.resize{
    width:70%; 
    height: auto;
}