*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: space-evenly;
    line-height: 2;
    margin: 12px 0 12px 0;
  font-family: "Century Light", "Palatino", serif;
  font-weight: bold;
  text-shadow: 0 0 2px linen;
    padding: 15px;	
    background: lightgray;
    border-radius: 3px;
    border-color: darkred;
    text-align: center;
    flex-direction: column;
}

button{
    margin: 0 auto;
}

div{
    justify-content: space-evenly;
}